*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.logo {
    margin-left: 120px;
}


header{
    background-color: #FFFFFF;
    padding-top:16px; 
    padding-bottom:16px;
}

nav{
    width:100%;
    max-width: 1600px;
    background-color: #FFFFFF;
    margin:0px auto;
    display: flex;
    justify-content: space-between;

}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}



nav .get-button{

    list-style: none;
    align-items: center;
    background-color: #469165;
    border-radius: 4px;
    color: white;
    height: 44px;
    width: 164px;
    margin-right: 120px;
    padding: 12px 16px; 
    border: none;
    justify-content: center;
    font-size: 16px;
    font-weight:bold;
    
}

nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
     
}
body{
    
    
}