*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.logo {
    margin-left: 120px;
}


header{
    background-color: #FFFFFF;
    padding-top:16px; 
    padding-bottom:16px;
}

nav{
    width:100%;
    max-width: 1600px;
    background-color: #FFFFFF;
    margin:0px auto;
    display: flex;
    justify-content: space-between;

}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
    
}

nav a{
    text-decoration: none;
}



nav .get-button{

    list-style: none;
    align-items: center;
    background-color: #469165;
    border-radius: 4px;
    color: white;
    height: 44px;
    width: 164px;
    margin-right: 120px;
    padding: 12px 16px; 
    border: none;
    justify-content: center;
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
}


nav .get-button:hover {
        background-color: #ed310f;}

    nav .menu a:hover {
        color: #06c154;
        
    }


#banner{

    background-image: url("./assets/hero-bg.png");
    width: 1600px ;
    height: 583px;
    background-position: center;
    padding: 70px 120px;
    
  

} 

.str{
    color: white;
    font-size: 72px;
    text-align: center;
}

.note{
    color:#30B868 ;
    font-size: 72px;
    text-align: center;
    margin: 16px 0px;
}
.para
{
    color:#FFFFFF;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    padding: 16px 32px;
}
.banner-text {
    text-align: center;
}
.early-btn{
    
    color: #30B868;
    border-radius: 4px;
    background-color: white;
    height: 35px;
    width: 229px;
    border: none;
    justify-content: center;
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
}
.see-btn{
    list-style: none;
    align-items: center;
    background-color: #469165;
    border-radius: 4px;
    color: white;
    height: 52px;
    width: 251px;
    border: none;
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
}
.works-btn{

    align-items: center;
    border: px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
   border: 1px solid #ffffff;
    color: white;
    height: 52px;
    width: 198px;
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
}

.btn2{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
#notes{
    margin-top: 40px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}
.h2-note{
    font-size: 48px;
    text-align: center;
}
.para2{
    margin-top: 16px;
    
    font-size: 16px;
    color: #627382;
}

.scat-notes{
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 40px 20px;
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
    box-shadow: #627382;
    max-width: 322px ;
   
    

}
 .icon-circle
{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.cards-2{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 50px auto;
    margin-bottom: 80px;
    padding: 0 20px;
    text-align: center;
    align-items: stretch;
}

.card-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
   
    
    }
.card-text p {
    font-size: 16px;
    color:#627382; 
    line-height:20px;
}

.brain{
    display: flex;
    justify-content: space-between;
    padding: 120px 120px ;
}

.brain-img{
    height: 600px;
    width: 600px;   
                       
}

.brain{
    display: flex;
   
}

 .solution-txt h4{
    color:#30B868;
    font-size: 16px;
    line-height: 20px;
    margin-bottom:16px;
    
}

.solution-txt h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
}
.solution-txt p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
     
}

.txt-icn{
    color: #001931;
    font-size: 16px;
}

.icon-txt-flex{
    list-style: none;
}

.flexing{
    list-style:none;
    
}


.rdy-bns{
    padding: 120px 120px;
    text-align: center;
    justify-content: center;
    background-color: #F7F6F2;
    height: 384px;
    width: 1360px;

}

.rdy-bns h2{
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-bottom:16px;
}

#p1{ color: #627382;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 16px;
}

#para2{
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    justify-content: center;
    border-bottom: 24px;

}

.get7button{

    background-color: #469165;
    border-radius: 4px;
    color: white;
    height: 44px;
    width: 164px;
    padding: 12px 16px; 
    border: none;
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
}

.ftr{
    display: flex;
    justify-content: space-between;
    gap: 800px;
    height: 348px;
    width: auto ;
    padding: 120px 120px 80px;
    
}

footer{
    background-color:#001931;
}
#footer-txt{
    font-size: 20px;
    line-height: 28px;
    color: white;
    margin-bottom: 16px;

}

.ft-t{
     width: 30px;
    height: 30px;
    background-color: #fcebeb;
    border-radius: 50%;

}

#kv-ft{
     width:139px;
    height: 60px;
}

.line-ft{
    width: 1360px;
    height: 1px;
    color: #ffffff;

}

.footer-copy{
    font-size: 18px;
    color: white;

    padding: 30px 30px;
    text-align: center;
}